/* F6F4EB  base*/
/* 91C8E4 light blue */
/* 749BC2 darkblue */
/* 4682A9 darker */

body {
    overflow: hidden;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #F6F4EB;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #F6F4EB;
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F6F4EB;
}

/* Bubble */
#bubble div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}
#bubble div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
}
#bubble div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
#bubble div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
#bubble div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
#bubble div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
#bubble div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
#bubble div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
#bubble div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
#bubble div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
#bubble div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
#bubble div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
#bubble div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
#bubble div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
#bubble div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
#bubble div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}


.navbar {
    background-color: rgba(0, 0, 0, .3);
}

.landing {
    height: 100vh;
    width: 100vw;
    background-position: center; 
    background-size: cover;
    background-repeat:no-repeat;
}


/* Message */
.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color: #F6F4EB;
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: stretch;
    z-index: 1;
}
.landing-content {
    padding-top: 150px;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding-top: 5px;
}

.message-inp {
    width: 60%;
}

.chat-form {
    vertical-align: bottom;
}

.user-message, .assistant-message {
    padding: 5px 2px;
}

.modal-content {
    background-color: #749BC2;
}

/* Themes */
.main-landing {
    background-image: url('https://images.unsplash.com/photo-1486246772917-8947d0f7f541?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1335&q=80');
}

.beach-landing {
    background-image: url('https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
}
.beach {
    background-color: rgba(62, 162, 229, 0.8);
}
.beach:hover {
    background-color: rgba(52, 152, 219, 0.8);
}

.fire-landing {
    background-image: url('https://images.unsplash.com/photo-1507048947301-7afc2aca0edc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2372&q=80');
}
.fire {
    background-color: rgba(239, 98, 98, 0.8);
}
.fire:hover {
    background-color: rgba(229, 88, 88, 0.8);
}

.forest-landing {
    background-image: url('https://images.unsplash.com/photo-1586957469525-7850e7bef283?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
}
.forest {
    background-color: rgba(170, 200, 167, 0.8);
}
.forest:hover {
    background-color: rgba(160, 190, 157, 0.8);
}

.rainy-landing {
    background-image: url('https://images.unsplash.com/photo-1556485689-33e55ab56127?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80');
}
.rainy {
    background-color: rgba(67, 91, 102, 0.8);
}
.rainy:hover {
    background-color: rgba(57, 81, 92, 0.8);
}

.river-landing {
    background-image: url('https://images.unsplash.com/photo-1689774036065-0d30187e3592?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
}
.river {
    background-color: rgba(23, 89, 74, 0.8);
}
.river:hover {
    background-color: rgba(13, 79, 64, 0.8);
}

.space-landing {
    background-image: url('https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
}
.space {
    background-color: rgba(66, 66, 66, 0.8);
}
.space:hover {
    background-color: rgba(56, 56, 56, 0.8);
}

.snow-landing {
    background-image: url('https://images.unsplash.com/photo-1574780879552-9c07b351ea86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2952&q=80');
}
.snow {
    background-color: rgba(238, 238, 238, .8);
}
.snow:hover {
    background-color: rgba(228, 228, 228, .8);
}

.quote-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.btn {
    border-color: #91C8E4;
    color: #91C8E4;
}

.btn:hover {
    background-color: rgba(41, 128, 185, 0.8);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    cursor: pointer;
    color: #ffffff;
    clip-path: polygon(25% 0, 25% 100%, 100% 50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}