{% extends "base.html" %}

{% block title %}
 - Beach
{% endblock %}

{% block content %}
<div class="beach-landing landing">
    <div class="quote-box py-5">
        <div class="row justify-content-center py-5">
            <div class="col col-8 py-3 quote-container">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, deserunt nemo. Enim blanditiis, nihil est quia qsci,eriam ut vitae.</h2>
                <p class="text-end">- sdfahvdakj adsfas</p>
            </div>
        </div>
    </div>
    <div class="play-button" onclick="playAudio()"></div>
</div>
<audio id="audio" autoplay controls loop preload="auto" style="display: none;">
    <source src="{{ url_for('static', filename='sound/beach.mp3')}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endblock %}