{% extends "base.html" %}

{% block title %}
 - Home
{% endblock %}

{% block content %}
<div id="bubble"></div>
<div class="main-landing landing">
    <div class="row justify-content-center landing-content">
        <div class="col-md-4 message-box">
            <div class="messages" id="messages"></div>
            <div class="row">
                <div class="col-12 inputs">
                    <form class="chat-form" id="chat-form" onsubmit="sendMessage(event)">
                        <input class="message-inp" type="text" placeholder="Share your thoughts" name="message" id="message">
                        <button class="btn btn-outline-dark" type="submit" name="submit" id="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 landing-text">
            <h1 class="text-center">TherAPI</h1>
            <p>TherAPI is a dedicated space for supporting mental health for everyone. 
                Our platform offers a unique and personalized experience through our therapist chatbot, 
                designed to provide trustworthy guidance and a calming presence. 
                Whether you're seeking professional advice or simply want to share your thoughts, 
                our empathetic virtual therapist is here to lend a listening ear and offer thoughtful responses.
            </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Learn more
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">TherAPI</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>To further enhance your mental well-being, we've integrated nature-themed elements into our platform. 
                                When you interact with our chatbot, chatbot will also suggest one of our theme to immerse yourself in serene natural landscapes. 
                                Each theme is accompanied by a corresponding nature picture and soothing sound, such as the gentle lapping of waves at the beach or the rustling of leaves in a forest. 
                                Our goal is to create a serene and comforting environment that encourages relaxation and introspection.</p>
                            <p>According to the following studies,</p>
                                <ul>
                                    <li>Gösta Ekman Laboratory, Department of Psychology, Stockholm University (February 2010) <br/> <a  href="https://www.mdpi.com/1660-4601/7/3/1036">Stress Recovery during Exposure to Nature Sound and Environmental Noise</a></li>
                                    <li>The Pennsylvania State University Department of Recreation, Park and Tourism Management (August 2015) <br/> <a href="https://d1wqtxts1xzle7.cloudfront.net/78029856/4bc5f8ed3ce4c3355bb1af4bf556797ad22d-libre.pdf?1641312726=&response-content-disposition=inline%3B+filename%3DThe_Influence_of_Natural_Sounds_on_Atten.pdf&Expires=1691210850&Signature=LSmYPxxxx72CMQp8elsINIX5XqBJjmGGY~9BwkPX01rJT0obhLspnhKT18uSrt9nXThZwaijDnYLQTJQkTlxU62mbIaq1TfX9PeoG~JmRQgIQfx-YApw1gjLeqXj1t9FGfrcNG20VYFYx9I9ED4kVeOdLXpg3oZ07uLYTUvuQiSAo2hDbTKSnGEYloEjzNExlqg-rhLgc09RO2XldvKyGy2vVr-MtVLEvBeI~-1-2CE3gofyzK4wGgNlAfn76tvGFP3D8iF2SPmOPW1Y54BxfNXNr4iv55vzHVLsAvv0fLBQGuJ~eB5eYPwwOguOd0MTihSzQlFkc~TB4LGvXTlnEw__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA">THE INFLUENCE OF NATURAL SOUNDS ON ATTENTION RESTORATION</a></li>
                                </ul>
                            <p>It is proven that the sound of nature can help focus, calm, relax, and much more.</p>
                            <img src="https://pub.mdpi-res.com/ijerph/ijerph-07-01036/article_deploy/html/images/ijerph-07-01036-ag-1024.png?1431548296" width="100%">
                            <img src="https://www.mdpi.com/ijerph/ijerph-07-01036/article_deploy/html/images/ijerph-07-01036f2-1024.png" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let container = document.getElementById("bubble")
    for (let i = 0; i < 15; i++) {
        let bubbleDiv = document.createElement("div")
        let bubbleBox = document.createElement("span")

        bubbleBox.className = "dot";
        bubbleDiv.appendChild(bubbleBox)
        container.appendChild(bubbleDiv);
    }
</script>
{% endblock %}