{% extends "base.html" %}

{% block title %}
 - Snow
{% endblock %}

{% block content %}
<div class="snow-landing landing d-flex">
    <div class="quote-box">
        <div class="row justify-content-end">
            <div class="col-4 py-5 px-5 quote-container">
                <h3>{{ quote[0].quote }}</h3>
                <p class="text-end my-5">- {{ quote[0].author }}</p>
            </div>
            <div class="col-4 py-3 mt-auto">
                <div class="play-button snow" onclick="playAudio()"></div>
            </div>
        </div>
    </div>
</div>
<audio id="audio" autoplay controls loop preload="auto" style="display: none;">
    <source src="{{ url_for('static', filename='sound/snow.mp3')}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endblock %}